/* _hover={{ transform: "scale(1.05)", cursor: "pointer" }} */

.group:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.group:hover > .groupIcon {
  background: linear-gradient(#d52f1b, #fb8717);
}
